<form (submit)="submit()"  class="form" [formGroup]="productForm">

  <div class="form-group">
    <label for="title-input">Title:</label>
    <input id="title-input" type="text" class="form-control" formControlName="title">
  </div>

  <div class="form-group">
    <label for="price-input">Price:</label>
    <input id="price-input" type="number" class="form-control" formControlName="price">
  </div>

  <div class="form-group">
    <label for="description-input">Description:</label>
    <textarea id="description-input" type="desc" class="form-control" formControlName="description"></textarea>
  </div>


  <div class="form-group">
    <button
      type="submit"
      [disabled]="!productForm.valid"
      class="btn btn-success float-right"
    >
      Submit
    </button>
  </div>

</form>